@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
body{
    background-color: white;
    padding: 40px;
    font-family: 'Poppins','sans-serif';
    line-height: 1.6rem;
}
h1{
    text-align:center;
    text-transform: capitalize;
}
.accordians{
    border: 1px solid #c3d6ec;
    background-color: #F6FAFF;
    padding:4px 20px;
    font-family: 'Poppins','sans-serif';
    line-height: 1rem;
    margin:20px auto ;
    border-radius: 8px;
    cursor: pointer;
    width: 90%;
}
.question{
    color: #1b1d24;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    margin-right: 30px;
    transition: transform .2s;
}
.answer{
    height: 0;
    overflow-x: scroll;

    color: #333748e1;
    transition: height .5s ease-in-out;
}

.answer.active{
    height:120px;
}
.icon.active{
    transform: rotate(-180deg);
}
.container{
    max-width: 800px;
    margin: 10px auto;
}