@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	/* background: linear-gradient(to right, #261E5A, #9265CA80, #B8A1D9);
	/* background-size: 400% 400%; */
	/* animation: gradient 10s ease infinite;  */
    width:100vw;
    height: 100vh;

    background-image: url('universe.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

body{
    font-family: 'Lato', sans-serif;
    /* background:linear-gradient(to bottom left,rgba(103, 158, 173, 0.809),rgba(39, 150, 191, 0.691)); */
   
    
}
.outerbox{

    width:100vw;
    height: 100vh;

    background-image: url('../assets/universe.jpg');
    background-repeat: no-repeat;
    background-position: center;
   
}
.innerbox{
/* background-color: rgb(241, 245, 245); */
width: 350px;
height: 75vh;
color: whitesmoke;
margin:0 auto;
position: relative;
top: 50%;
transform: translateY(-50%);
padding: 5vh 40px;
/* background-color: #261e5ad3; */
background-color: #261e5a7c;
backdrop-filter: blur(80px);
border-radius: 16px;
border: 1px solid #DD946F;;
z-index:2;
overflow-x: scroll;
}
.feedback h1{
    font-size: 1.5rem;
    color:whitesmoke
    }
    .feedback p{
        font-size: 0.9rem;
        color:white;
    }
    .feedback-body{
        margin:  20px 0px;
    }
    .feedback-body p{
        margin: 8px 0px;;
    }
    .feedback-body label{
       display: block; 
    }
    .feedback-body p input{
        width: 100%;
        height: 6vh;
        padding:10px;
        border: 2px solid #cccc;
        border-radius: 4px;
        font-size: 1rem;
        margin-top: 4px;
    }
    .feedback-body p textarea{
        width: 100%;
       height: 10vh;
        padding:10px;
        border: 2px solid #cccc;
        border-radius: 4px;
        font-size: 1rem;
        margin-top: 4px;
    }
    .feedback-body p input[type="submit"]{
        background-color: #DD946F;
        border: none;
        color: white;
        cursor: pointer
    }
    .feedback-body p input[type="submit"]:hover{
        background-color: #CD7D7C;
    }
    .feedback-footer{
        color:whitesmoke;
        text-align: center;
    }
    .foot{
        margin-top: -13px;
    }
    .foot a{
        color:#DD946F;
    }
    .feedback-footer a:hover{
        color: white;
        text-decoration: none;
    }
   
.astro{
    position:absolute;
    top: 20px;
    right:60px;
}